.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(16.46874949336052, 197.62499392032623, 56.32314272224903, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.Brand-Name{ 
	color:rgba(255, 255, 255, 1);
	width:457px;
	height:170px;
	position:absolute;
	left:458px;
	top:306px;
	font-family:Francois One;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}
.e1_6 { 
	color:rgba(255, 255, 255, 1);
	width:293px;
	height:68px;
	position:absolute;
	left:513px;
	top:272px;
	font-family:Francois One;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e1_403 { 
	box-shadow:-4px 4px 0px rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
	background-color:rgba(255, 255, 255, 1);
	width:179px;
	height:61px;
	position:absolute;
	left:434px;
	top:573px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e1_403 { 
	border:2px solid rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
}
.ei1_403_1_410 { 
	color:rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
	width:86px;
	height:32px;
	position:absolute;
	left:35px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e1_822 { 
	box-shadow:-4px 4px 0px rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
	background-color:rgba(255, 255, 255, 1);
	width:179px;
	height:61px;
	position:absolute;
	left:701px;
	top:573px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e1_822 { 
	border:2px solid rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
}
.ei1_822_1_410 { 
	color:rgba(28.000000230968, 78.00000295042992, 254.00000005960464, 1);
	width:86px;
	height:32px;
	position:absolute;
	left:46.5px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
